<html class="h-full">

<%- include('./components/head') %>

<body class="h-full bg-[#10181e] p-12" style="font-family: 'Space Grotesk'">
    <div class="bg-transparent">
        <div class="flex flex-col border border-white/5 lg:border-0">
          <nav aria-label="Offers" class="order-last lg:order-first mb-8">
            <div class="mx-auto max-w-7xl lg:px-8">
              <ul role="list" class="grid grid-cols-1 divide-y divide-white/5 lg:grid-cols-3 lg:divide-x lg:divide-y-0">
            
              </ul>
            </div>
          </nav>
      
          <div class="relative">
            <div aria-hidden="true" class="absolute hidden h-full w-1/2 bg-[#10181e] lg:block"></div>
            <div class="relative bg-gray-100 lg:bg-transparent">
              <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8">
                <div class="mx-auto max-w-2xl py-24 lg:max-w-none lg:py-64">
                  <div class="lg:pr-16">
                    <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl xl:text-6xl">You've been invited to join <%= name %>!</h1>
                    <p class="mt-4 text-md tracking-tight text-zinc-400">We're the #1 free server hosting service globally, powering over 20K game servers.</p>
                    <div class="mt-6">
                      <a href="../" class="inline-block rounded-2xl border border-transparent bg-[#0a9875] px-8 py-3 font-medium text-white transition">Get started</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
</body>