<div class="mx-auto px-2 sm:px-6 lg:px-8">
    <center><div class="semi-bold text-white">© By <a href="https://github.com/SkySyncClient/Origin.git" class="text-blue-500">SkySync</a></div></center>
  </div>
  
  // Creating Server
  // Creation
