
<div class="mx-auto px-2 sm:px-6 lg:px-8">
<center><div class="semi-bold text-white">© By HydrenDashboard https://github.com/hydren-dev/HydrenDashboard</center>
</div>
</div>
</body>
</html>
// IF you change this server wont start